<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Campaign Name</td>
            <td> <%= data.campaignInfo.name %> </td>
        </tr>
        <tr>
            <td>Campaign Description</td>
            <td><%= data.campaignInfo.description %></td>
        </tr>
    </table>

    <a href="<%= data.url %>">Bid Here</a>

    <strong>Note: Above link will be valid till 1 hour only.</strong>
</body>
</html>