<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture Bid</title>

    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<body>
    Bid: <%= bidCampaign.name %> <br>
    Your email: <%= client.email %> <br>
    Min amount: <%= bidCampaign.min_amount %> <br>
    Max amount: <%= bidCampaign.max_amount %> <br>
    <input type="hidden" name="max_amount" value="<%= bidCampaign.max_amount %>" >
    <input type="hidden" name="min_amount" value="<%= bidCampaign.min_amount %>" >

    <form method="POST" id="capture_response_form" >
        <input type="hidden" name="bid_campaign_id" value="<%= bidCampaign.id %>" >
        <input type="hidden" name="email" value="<%= client.email %>" >
        <input type="text" placeholder="Enter your bid amount" name="bid_amount" > <br>
        <button>Submit Bid</button>
    </form>

    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->

    <script>
        // "use strict";
        $(document).ready(function(){
            // Handle form submit
            $("#capture_response_form").submit(function (e) {
                // Prevent button default action
                e.preventDefault();
                        const data = {
                            bid_campaign_id: document.querySelector("[name=bid_campaign_id]").value,
                            email: document.querySelector("[name=email]").value,
                            bid_amount: document.querySelector("[name=bid_amount]").value,
                        };

                        const maxAmount = parseInt(document.querySelector("[name=max_amount]").value);
                        const minAmount = parseInt(document.querySelector("[name=min_amount]").value);
                        console.log(maxAmount, minAmount);
                        if(!(data.bid_amount >= minAmount && data.bid_amount <= maxAmount )) {
                            console.log("invalid")
                            Swal.fire({
                                text: "Amount should be between max and min amount.",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Ok, got it!",
                                customClass: {
                                    confirmButton: "btn btn-primary"
                                }
                            });
                            return false;
                        } else {
                        // Simulate ajax request
                        fetch('/api/general/capture-response', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(data => data.json())                    
                        .then(function(res){
                            console.log(res);
                            if(res.status == 200) {
                                Swal.fire({
                                    text: res.msg,
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok, got it!",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                }).then(function (result) {
                                    if (result.isConfirmed) {
                                        location.href="";
                                    }
                                });
                            }else {
                                Swal.fire({
                                    text: res.message,
                                    icon: "error",
                                    buttonsStyling: false,
                                    confirmButtonText: "Ok, got it!",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                });
                            }
                        })
                    }
            });
        })
    </script>
</body>
</html>