
<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head><base href="/">
		<%- include('../includes', { title: 'Bid Campaign | Create' }) %>
	</head> 
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<!--begin::Aside-->
				<%- include('../aside', {
                    active: {
                        bidCampaign: "active"
                    }
                }) %>
				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					<!--begin::Header-->				
					<%- include('../header') %>
					<!--end::Header-->
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<!--begin::Container-->
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
								<!--begin::Page title-->
								<div class="d-flex align-items-center me-3">
									<!--begin::Title-->
									<h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Bid Send</h1>
									<!--end::Title-->
									<!--begin::Separator-->
									<span class="h-20px border-gray-200 border-start mx-4"></span>
									<!--end::Separator-->
									<!--begin::Breadcrumb-->
									<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
										<!--begin::Item-->
										<li class="breadcrumb-item text-muted">
											<a href="index.html" class="text-muted text-hover-primary">Home</a>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-200 w-5px h-2px"></span>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item text-muted">Bid Campaign</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item">
											<span class="bullet bg-gray-200 w-5px h-2px"></span>
										</li>
										<!--end::Item-->
										<!--begin::Item-->
										<li class="breadcrumb-item text-muted">Send Bid</li>
										<!--end::Item-->
									</ul>
									<!--end::Breadcrumb-->
								</div>
								<!--end::Page title-->
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Toolbar-->
						<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container">
								<!--begin::Card-->
								<div class="card">
									<!--begin::Card body-->
									<div class="card-body p-0">
										<!--begin::Heading-->
										<div class="card-px text-center py-20 my-10">
											<!--begin::Title-->
											<h2 class="fs-2x fw-bolder mb-10">Send Bid Campaign</h2>
											<!--end::Title-->
											<!--begin::Description-->
											<p class="text-gray-400 fs-5 fw-bold mb-13">Click on the below buttons to send
											<br />a Bid Campaign.</p>
											<!--end::Description-->
											<!--begin::Action-->
											<a href="#" class="btn btn-primary er fs-6 px-8 py-4" data-bs-toggle="modal" data-bs-target="#kt_modal_new_address">Send Bid Campaign</a>
											<!--end::Action-->
										</div>
										<!--end::Heading-->
										<!--begin::Illustration-->
										<img src="assets/media/svg/illustrations/statistics.svg" alt="" class="mx-auto w-100 mh-300px" />
										<!--end::Illustration-->
									</div>
									<!--end::Card body-->
								</div>
								<!--end::Card-->
								<!--begin::Modal - New Address-->
								<form id="send_campaign_form" method="POST" >
								<div class="modal fade" id="kt_modal_new_address" tabindex="-1" aria-hidden="true">
									<!--begin::Modal dialog-->
									<div class="modal-dialog modal-dialog-centered mw-650px">
										<!--begin::Modal content-->
										<div class="modal-content">
											<!--begin::Form-->
											<!-- <form class="form" action="#" id="kt_modal_new_address_form"> -->
												<!--begin::Modal header-->
												<div class="modal-header" id="kt_modal_new_address_header">
													<!--begin::Modal title-->
													<h2>Send Bid Campaign</h2>
													<!--end::Modal title-->
													<!--begin::Close-->
													<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
														<!--begin::Svg Icon | path: icons/stockholm/Navigation/Close.svg-->
														<span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
																	<rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
																	<rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</div>
													<!--end::Close-->
												</div>
												<!--end::Modal header-->
												<!--begin::Modal body-->
												<div class="modal-body py-10 px-lg-17">
													<!--begin::Scroll-->
													<div class="scroll-y me-n7 pe-7" id="kt_modal_new_address_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_address_header" data-kt-scroll-wrappers="#kt_modal_new_address_scroll" data-kt-scroll-offset="300px">
														<!--begin::Notice-->
														<!--begin::Notice-->
														<!-- <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6"> -->
															<!--begin::Icon-->
															<!--begin::Svg Icon | path: icons/stockholm/Code/Warning-1-circle.svg-->
															<!-- <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
																<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
																	<rect fill="#000000" x="11" y="7" width="2" height="8" rx="1" />
																	<rect fill="#000000" x="11" y="16" width="2" height="2" rx="1" />
																</svg>
															</span> -->
															<!--end::Svg Icon-->
															<!--end::Icon-->
															<!--begin::Wrapper-->
															<!-- <div class="d-flex flex-stack flex-grow-1"> -->
																<!--begin::Content-->
																<!-- <div class="fw-bold">
																	<h4 class="text-gray-800 fw-bolder">Warning</h4>
																	<div class="fs-6 text-gray-600">Updating address may affter to your
																	<a href="#">Tax Location</a></div>
																</div> -->
																<!--end::Content-->
															<!-- </div> -->
															<!--end::Wrapper-->
														<!-- </div> -->
														<!--end::Notice-->
														<!--end::Notice-->
														<!--begin::Input group-->
														<div class="row mb-5">
															<!--begin::Col-->
															<div class="col-md-12 fv-row">
																<!--begin::Label-->
																<label class="col-lg-12 col-form-label fw-bold fs-6">
																	<span class="required">Campaign name</span>
																	<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Campaign name"></i>
																</label>
																<!--end::Label-->
																<!--begin::Col-->
																<div class="col-lg-12 fv-row">
																	<select name="campaignId" aria-label="Select a Campaign" data-control="select2" data-placeholder="Select a campaign..." class="form-select form-select-solid form-select-lg fw-bold">
																		<option value="">Select a Campaign...</option>
																		<%
																		for(var i=0; i<bidCampaigns.length; i++) {
																			const campaign = bidCampaigns[i];
																			%>
																			<option value="<%= campaign.id %>"><%= campaign.name %></option>
																			<%
																		}
																		%>
																	</select>
																</div>
																<!--end::Col-->
															</div>
														</div>
														<div class="row mb-5">
															<!--end::Col-->
															<!--begin::Col-->
															<div class="col-lg-12 fv-row">
																<!--begin::Options-->
																<div class="d-flex align-items-center mt-3">
																	<%
																		for(var i=0; i<clientCategories.length; i++) {
																			const category = clientCategories[i];
																			%>
																			<!--begin::Option-->
																			<label class="form-check form-check-inline form-check-solid me-5">
																				<input class="form-check-input" name="client_categories[]" type="checkbox" value="<%= category.id %>" />
																				<span class="fw-bold ps-2 fs-6"><%= category.name %></span>
																			</label>
																			<!--end::Option-->
																			<%
																		}
																	%>
												
																</div>
																<!--end::Options-->
															</div>
															<!--end::Col-->
														</div>
														<!--end::Input group-->
													</div>
													<!--end::Scroll-->
												</div>
												<!--end::Modal body-->
												<!--begin::Modal footer-->
												<div class="modal-footer flex-center">
													<!--begin::Button-->
													<button type="reset" id="kt_modal_new_address_cancel" class="btn btn-white me-3">Discard</button>
													<!--end::Button-->
													<!--begin::Button-->
													<button type="submit" id="create_campaign_submit" class="btn btn-primary">
														<span class="indicator-label">Submit</span>
														<span class="indicator-progress">Please wait...
														<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
													</button>
													<!--end::Button-->
												</div>
												<!--end::Modal footer-->
											<!-- </form> -->
											<!--end::Form-->
										</div>
									</div>
								</div>
								</form>
								<!--end::Modal - New Address-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Content-->					
					<!--begin::Footer-->
					<%- include('../footer') %>
                </div>
		<!--end::Main-->
		<!--begin::Javascript-->
		<%- include('../footer-include') %>
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/apps/chat/chat.js"></script>
		<script src="assets/js/custom/modals/create-app.js"></script>
		<script src="assets/js/custom/modals/upgrade-plan.js"></script>
		<!-- * CREATING EMPLOYEE AT SERVER -->
		<!-- <script src="assets/js/custom/bidCampaign/create.js?v=1.0.6"></script> -->
		<!--end::Page Custom Javascript-->

		<script>
			// "use strict";
			$(document).ready(function(){
// Handle form submit
$("#send_campaign_form").submit(function (e) {
    // Prevent button default action
    e.preventDefault();
			const formData = new FormData(this);
            // Simulate ajax request
            fetch('/api/admin/bid-campaign/send-multiple', {
                method: 'POST',
                body: formData
            }).then(data => data.json())                    
            .then(function(res){
                console.log(res);
                if(res.status == 200) {
                    Swal.fire({
                        text: "Campaign email successfully initiated to selected clients!",
                        icon: "success",
                        buttonsStyling: false,
                        confirmButtonText: "Ok, got it!",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        }
                    }).then(function (result) {
                        if (result.isConfirmed) { 
                            document.querySelector('[name="name"]').value=""
                            document.querySelector('[name="description"]').value=""
                            document.querySelector('[name="min_amount"]').value=""
                            document.querySelector('[name="max_amount"]').value=""
                            location.href="/admin/bid-campaign/all"
                        }
                    });
                }else {
                    Swal.fire({
                        text: res.message,
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Ok, got it!",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        }
                    });
                }
            })
});
			})
		</script>
		
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html> 